<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    
    <title>Angular Bootstrap Slider test</title>
    
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.css">
    
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="myapp">
    <div class="container" ng-controller="MyController">
      <div class="page-header" style="margin:10px 0 20px 0">
        <h1 style="margin-top:10px;margin-bottom:0">VeraLite</h1>
      </div>
      <div ng-repeat="device in devices">
        <div ng-include="getDeviceTypeSlug(device.category_num)"></div> 
      </div>
    </div>
    
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    
    <script src="script.js"></script>
    <script type="text/ng-template" id="thermostat">
      <div class="well pull-left" style="margin-right:20px; width:250px;" ng-controller="thermostatCtrl">
        <div class="alert alert-info text-center" role="alert" style="padding:0;"><strong style="font-size:36px">{{device.DeviceStateObj.CurrentTemperature}} &#8457</strong></div>
        <div class="btn-group btn-group-justified" style="margin-bottom:10px">
          <a class="btn btn-default btn-lg" href="#" style="color:red" ng-model="modeStatus" btn-radio="'HeatOn'"><i class="fa fa-fire"></i></a>
          <a class="btn btn-default btn-lg" href="#" style="color:CornflowerBlue;" ng-model="modeStatus" btn-radio="'CoolOn'"><i class="wi wi-snowflake-cold"></i></a>
          <a class="btn btn-default btn-lg" href="#" style="color:SlateGray;" ng-model="modeStatus" btn-radio="'AutoChangeOver'">A</a>
          <a class="btn btn-default btn-lg" href="#" style="color:black" ng-model="modeStatus" btn-radio="'Off'"><i class="fa fa-power-off"></i></a>
        </div>
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="decreaseTemp()">-</button>
          </span>
          <input ng-model="sliderValue" type="text" class="text-center form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="increaseTemp()">+</button>
          </span>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="door_lock">
      <div class="well pull-left" style="margin-right:20px; width:250px;">
        <dl>
          <dt>Battery Level</dt>
          <dd>{{device.DeviceStateObj.BatteryLevel}}%</dd>
          <dt>Status</dt>
          <dd style="color:{{DeviceStateObj.Status == '1' ? 'green' : 'red'}}">
            {{device.DeviceStateObj.Status == '1' ? 'Locked' : 'Unlocked'}}
          </dd>
        </dl>
        <button type="button" class="btn btn-default">
          <span class="fa fa-{{device.DeviceStateObj.Status == '1' ? 'unlock' : 'lock'}} fa-lg"></span> {{device.DeviceStateObj.Status == '1' ? 'unlock' : 'lock'}}
        </button>
      </div>
    </script>
  </body>
</html>
